<div class="container">
  <div class="row">
    <div class="col-5">
      <form #editForm="ngForm" (submit)="onSubmit()">
        <h4 class="text-danger">Cập nhật thông tin Nhà cung cấp</h4>

        <input type="hidden" name="idManufacturer" [value]="manufacturer.idManufacturer">
        <div class="form-group row">
          <label for="su-nameManufacturer" class="col-sm-5 col-form-label">Tên hãng</label>
          <div class="col-7">
            <input type="text" name="name" #name="ngModel" [(ngModel)]="manufacturer.name"
              class="form-control" required minlength="2" maxlength="20">
          </div>
        </div>
        <div class="form-group row">
          <label for="status" class="col-sm-5 col-form-label">Trạng thái hoạt động</label>
          <div class="col-7">
            <input type="checkbox" id="status" name="status" [(ngModel)]="manufacturer.isActive">
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary btn-sm"
            [disabled]="editForm.invalid" type="submit">Cập nhật</button>
          <button class="btn btn btn-danger btn-sm" style="margin-left: 10px;"
            (click)="navigateToPage()" type="button">Quay lại</button>
        </div>
      </form>
    </div>
  </div>
</div>
