<div class="container mt-4">
  <div class="row">
    <div class="col-sm-10">
      <div class="tab-panel">
        <tabset class="product-tabset">
          <tab heading="Thông tin">
            <form #form="ngForm" (ngSubmit)="addFood()">
              <div class="form-group">
                <h6>Tên món ăn</h6>
                <div class="col-4">
                  <input type="text" name="name" [(ngModel)]="food.name" class="form-control" required>
                </div>
              </div>

              <div class="form-group">
                <h6>Số lượng</h6>
                <div class="col-3">
                  <input type="number" name="amount" [(ngModel)]="food.amount" class="form-control" min="0" required>
                </div>
              </div>

              <div class="form-group">
                <h6>Đơn vị</h6>
                <div class="col-3">
                  <input type="text" name="unit" [(ngModel)]="food.unit" class="form-control" required>
                </div>
              </div>

              <div class="form-group">
                <h6>Lượng calo (kcalo)</h6>
                <div class="col-3">
                  <input type="number" name="calo" [(ngModel)]="food.calo" class="form-control" min="0" required>
                </div>
              </div>

              <div class="form-group">
                <h6>Chất đạm (gam)</h6>
                <div class="col-3">
                  <input type="number" name="protein" [(ngModel)]="food.protein" class="form-control" min="0" required>
                </div>
              </div>

              <div class="form-group">
                <h6>Chất béo (gam)</h6>
                <div class="col-3">
                  <input type="number" name="lipid" [(ngModel)]="food.lipid" class="form-control" min="0" required>
                </div>
              </div>

              <div class="form-group">
                <h6>Tinh bột (gam)</h6>
                <div class="col-3">
                  <input type="number" name="carb" [(ngModel)]="food.carb" class="form-control" min="0" required>
                </div>
              </div>

              <div class="form-group">
                <h6>Chất xơ (gam)</h6>
                <div class="col-3">
                  <input type="number" name="cellulose" [(ngModel)]="food.cellulose" class="form-control" min="0" required>
                </div>
              </div>

              <div class="form-group row mt-4 inlineRow">
                <h6 style="margin-top:3px;">Bữa ăn</h6>
                <div class="ml-5 styled-select">
                  <!-- <select [(ngModel)]="selectedLevel" (change)="selected()">
                    <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                  </select> -->
                    <select name="mealSelected" [(ngModel)]="mealSelected">
                      <option *ngFor="let item of arrMeal" [ngValue]="item.id">{{item.nameVi}}</option>
                    </select>
                </div>
              </div>

              <div class="form-group row mt-4 inlineRow">
                <h6 style="margin-top:5px;">Món ăn phù hợp với lượng đường huyết</h6>
                <div class="ml-5 styled-select">
                  <!-- <select [(ngModel)]="selectedLevel" (change)="selected()">
                    <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                  </select> -->
                    <select name="stateBGSelected" [(ngModel)]="stateBGSelected">
                      <option *ngFor="let item of arrStateBG" [ngValue]="item.id">{{item.nameVi}}</option>
                    </select>
                </div>
              </div>

              <div class="form-group">
                <h6>Hình ảnh</h6>
                <div class="col-4">
                  <input type="text" name="image" [(ngModel)]="food.image" class="form-control" required>
                </div>
              </div>


              <div class="form-group mt-5 ml-3">
                <button class="btn btn-primary btn-sm"
                  [disabled]="!form.dirty" type="submit">Lưu</button>
                <button class="btn btn btn-danger btn-sm" style="margin-left: 10px;"
                  (click)="navigateToPage()" type="button">Quay lại</button>
              </div>
            </form>
          </tab>
          <tab heading="Công thức">
            <div *ngIf="food.id>0">
              <!-- <app-photo-edit [photos]="product.photos"></app-photo-edit> -->
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
