<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a [routerLink]="['admin/home']">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active">Người dùng</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header row">
      <div class="col-sm-8 mt-1">
        <i class="fas fa-table"></i>
          Danh sách tài khoản
      </div>
      <div class="col-sm-4">
        <form class="form-inline mt-0 mt-md-0" #form="ngForm" (ngSubmit)="filterUser()">
          <input name="name" [(ngModel)]="userParams.name" class="form-control-sm mr-sm-2" type="text" placeholder="Nhập tên người dùng" aria-label="Search">
          <button class="btn btn-info btn-sm my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
      </div>
    </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" cellspacing="0">
                  <thead class="thead-light">
                      <tr>
                          <th>Số TT</th>
                          <th>Họ tên</th>
                          <th>Email</th>
                          <th>Số điện thoại</th>
                          <th>Ngày tạo</th>
                          <th>Avatar</th>

                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr id="row_1" *ngFor="let user of users, let i=index">
                      <td>{{i+1}}</td>
                      <td>{{user.fullname}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.phone}}</td>
                      <td>{{user.signUpDate| date:'dd-MM-yyyy'}}</td>
                      <td>
                        <div [ngSwitch]="user.avatar">
                          <div *ngSwitchCase="null">Chưa cập nhật ảnh đại diện</div>
                          <div *ngSwitchCase="''">Chưa cập nhật ảnh đại diện</div>
                          <div *ngSwitchDefault><img src="{{user.avatar}}" style="width: 50px;height: 50px;"></div>
                        </div>
                      </td>
                      <td>
                        <i (click)="deleteUser(user.id)" class="fas fa-trash-alt fa-sm text-danger"></i>
                      </td>
                    </tr>
                  </tbody>
              </table>
              <br>
              <!-- <div class="d-flex justify-content-center">
                <pagination [boundaryLinks]="true"
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                </pagination>
              </div> -->
          </div>
      </div>
  </div>
</div>
