<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a (click)="navigateToHome()">Trang chủ</a>
      </li>
      <li class="breadcrumb-item active">Hoá đơn</li>
  </ol>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header row">
      <div class="col-sm-6 mt-1">
        <i class="fas fa-table"></i>
          Danh sách hóa đơn
      </div>
      <div class="col-sm-4">
        <form class="form-inline mt-0 mt-md-0" #form="ngForm" (ngSubmit)="loadOrders()">
          <input name="name" [(ngModel)]="orderParams.name" class="form-control-sm mr-sm-2" type="text" placeholder="Nhập tên người nhận" aria-label="Search">
          <button class="btn btn-info btn-sm my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
      </div>
    </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" cellspacing="0">
                  <thead  class="thead-light">
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Người nhận</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Địa chỉ</th>
                        <th>Ngày đặt</th>
                        <th>Thanh toán</th>
                        <th>Trạng thái</th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr id="row_1" *ngFor="let order of listOrders">
                      <td><a [routerLink]="['detail/', order.idOrder]">{{order.idOrder}}</a></td>
                      <td>{{order.receiver}}</td>
                      <td>{{order.phoneNumber}}</td>
                      <td>{{order.email}}</td>
                      <td>{{order.address}}</td>
                      <td>{{order.orderDate}}</td>
                      <td>{{order.paid}}</td>
                      <td *ngIf="order.orderState == 1">Đang chờ xử lý</td>
                      <td *ngIf="order.orderState == 2">Đã xác nhận</td>
                      <td *ngIf="order.orderState == 0">Đơn hàng bị hủy</td>
                      <td>
                        <i (click)="updateOrder(order.idOrder, 2)" class="fas fa-check fa-sm text-primary"></i>
                        |
                        <i (click)="updateOrder(order.idOrder, 0)" class="fas fa-trash-alt fa-sm text-danger"></i>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="7"><b>Tổng đơn hàng</b></td>
                      <td colspan="1">{{listOrders.length}}</td>
                    </tr>
                  </tfoot>
              </table>
              <br>
              <div class="d-flex justify-content-center">
                <pagination [boundaryLinks]="true"
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                </pagination>
              </div>
          </div>
      </div>
  </div>
</div>
